/DistributedSystemsLabs/nbproject/private/
/DistributedSystemsLabs/build/
/DistributedSystemsLabs/Lab_1/nbproject/private/
/DistributedSystemsLabs/Lab_1/build/
/DistributedSystemsLabs/Lab_2_sockets/nbproject/private/
/DistributedSystemsLabs/Lab_2_socket_client/nbproject/private/
/DistributedSystemsLabs/Lab_2_sockets/build/
/DistributedSystemsLabs/Lab_2_socket_client/build/
/DistributedSystemsLabs/Lab_2_multithreaded_client_server/nbproject/private/
/DistributedSystemsLabs/Lab_2_multithreaded_client_server/build/
/DistributedSystemsLabs/lab_3_jdbc/nbproject/private/
/DistributedSystemsLabs/lab_3_jdbc/build/
/DistributedSystemsLabs/JavaApplication28/nbproject/private/
/DistributedSystemsLabs/JavaApplication28/build/
/DistributedSystemsLabs/JavaApplication28/dist/
/DistributedSystemsLabs/lab_7/WebApp/nbproject/private/
/DistributedSystemsLabs/lab_7/WebApp/build/
/DistributedSystemsLabs/lab_7/WebApp/dist/
/DistributedSystemsLabs/lab_7/wsClient/nbproject/private/
/DistributedSystemsLabs/lab_7/wsClient/build/
/DistributedSystemsLabs/lab_7/DatabaseWebApp/nbproject/private/
/DistributedSystemsLabs/lab_7/DatabaseWebApp/build/
/DistributedSystemsLabs/lab_7/DatabaseWebClient/nbproject/private/
/DistributedSystemsLabs/lab_7/DatabaseWebClient/build/
/DistributedSystemsLabs/lab_2_second_attempt/DatabaseWebClient/nbproject/private/
/DistributedSystemsLabs/lab_2_second_attempt/DatabaseWebClient/build/
/DistributedSystemsLabs/lab_2_second_attempt/DatabaseClient/nbproject/private/
/DistributedSystemsLabs/lab_2_second_attempt/DatabaseClient/build/