/DistributedSystemsLabs/nbproject/private/
/DistributedSystemsLabs/build/
/DistributedSystemsLabs/Lab_1/nbproject/private/
/DistributedSystemsLabs/Lab_1/build/
/DistributedSystemsLabs/Lab_2_sockets/nbproject/private/
/DistributedSystemsLabs/Lab_2_socket_client/nbproject/private/
/DistributedSystemsLabs/Lab_2_sockets/build/
/DistributedSystemsLabs/Lab_2_socket_client/build/