/DistributedSystemsLabs/nbproject/private/
/DistributedSystemsLabs/build/
/DistributedSystemsLabs/Lab_1/nbproject/private/
/DistributedSystemsLabs/Lab_1/build/
/DistributedSystemsLabs/Lab_2_sockets/nbproject/private/
/DistributedSystemsLabs/Lab_2_socket_client/nbproject/private/
/DistributedSystemsLabs/Lab_2_sockets/build/
/DistributedSystemsLabs/Lab_2_socket_client/build/
/DistributedSystemsLabs/Lab_2_multithreaded_client_server/nbproject/private/
/DistributedSystemsLabs/Lab_2_multithreaded_client_server/build/
/DistributedSystemsLabs/lab_3_jdbc/nbproject/private/
/DistributedSystemsLabs/lab_3_jdbc/build/
/DistributedSystemsLabs/JavaApplication28/nbproject/private/
/DistributedSystemsLabs/JavaApplication28/build/
/DistributedSystemsLabs/JavaApplication28/dist/